@import url('https://fonts.googleapis.com/css?family=Abel');

body {
  margin: 0;
  font-family: Abel, Arial, Verdana, sans-serif !important;
  background: #80afcd !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ui.fixed.menu {
  background: #80afcd !important;
}

.ui .vertical {
  background: #80afcd !important;
}

.ui a {
  background: #80afcd !important;
}


/* *,
body,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
 background: linear-gradient(45deg, #92bCa6, #A2CCB6);
   /* background: linear-gradient(#dE685E, #EE786E); */
     /* background: linear-gradient(#f8f8f8, #fff); */
      /* background: linear-gradient(45deg, #92bCa6, #A2CCB6); */
      /* linear-gradient(45deg, #7175da, #9790F2); */
  /* background-image: linear-gradient(45deg, #7175da, #9790F2); */
  /* background-image: linear-gradient(
    135deg,
    rgb(24, 107, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ); */
  /* justify-content: ; */
/* }  */
/* 
body {
   background: #80afcd;
} */


/* .ui {
     background: linear-gradient(45deg, #92bCa6, #A2CCB6)!important;
} */

/* .ui.button, .ui.placeholder .image.header:after, .ui.placeholder .line, .ui.placeholder .line:after, .ui.placeholder>:before {
  background: red;
} */
/* .cool {
  margin: auto !important;
} */


.ui.cool.sidebar {
  /* width: 315px !important; */
  /* margin-left: 10vw !important; */
  /* min-width: 10vw !important; */
  box-shadow: none;
  border-left: none !important;
  border-right: none !important;
  border: none !important;
}

/* .ui.cool.sidebar { */
/* width: 315px !important; */
/* margin-left: 5vw !important; */

/* width: 10vw !important;
  box-shadow: none;
  border-left: none !important;
  border-right: none !important;
  border: none !important; */
/* } */
/* 
.ui.active.cool.sidebar {
  margin: 0 !important;
  box-shadow: none;
}

.ui.active.right.cool.sidebar {
   box-shadow: none;
}  */

.ui.left.visible.sidebar,
.ui.right.visible.sidebar {
  box-shadow: none !important;
  border-left: none;
  border: none !important;
}

.cardgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6rem;
}

.fundraiserTitle {
  text-align: center;
}

.fundraiserImage {
  height: 300px;
  width: 600px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  margin-top: 20px;
  margin-left: 33px;
}

.fundraiserDescription {
  height: 200px;
  width: 500px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  margin-left: 150px;
}

.fundraiserDonation {
  height: 400px;
  width: 350px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-left: 40px;
}

.fundraiserDonationDescription {
  font-size: x-small;
}

.container {
  display: flex;
}

.donationContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.donationMiniBox {
  margin-left: 50px;
}

.donateButton {
  width: 150px;
  margin-left: 75px;
  margin-top: 25px;
}

.previousDonations {
  display: flex;
  margin-top: 50px;
  margin-left: 75px;
  flex-direction: column;
}

.preFixedDonationButtons {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.preFixedButton {
  padding: 5px;
  margin-left: 10px;
}

.progressBar {
  margin-top: 10px;
}

input {
  border-radius: 5px;
}

.payButton {
  margin-left: 10px;
  border-radius: 5px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.goPayButton {
  display: block;
  font-size: 16px;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #7795f8;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #7795f8;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

button:active {
  background-color: #7795f8;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #7795f8;
  transform: scale(0.99);
}

/* .overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
/* color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center; */
/* } */

.cardlabel:hover {
  background: blue;
}

.homeg {
  border: 3px solid purple;
  width: 100% !important;
  height: 100% !important;
}
.homegrid {
  display: grid;
  grid-template-columns: 10rem auto;
  max-width: 100%;
  border: 3px solid green;
}

.maps {
  width: 90rem !important;
  height: 200rem;
}

.leaflet-container {
  /* height: 100%;    
  width: 100%; */
  width: 100%;
  height: 60vh;
  border: green 3px solid;
}

.map-card {
  transform: scale(1);
}

.map-card:hover {
  background: gainsboro !important;
  transform: scale(1.03);
  transition: all 0.5ms linear;
}
.previous-donations {
  text-align: center;
  margin-top: 10px;
}

.ui.button {
  background: #77d6f8 !important;
}

.ui.label {
  background: #e9f877 !important;
}



.contactName:hover {
  background: gainsboro !important;
  transform: scale(1.03);
  transition: all 0.5ms linear;
}

.countdown-timer {
    /* width: 600px; */
    height: 100px;
    border: 2px solid black;

    font-family: "Oswald";
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-timer span {
    margin-left: 5px;
    margin-right: 5px;
}

.two-numbers {
    width: 2ch;
}