body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .cool {
  margin: auto !important;
} */

.ui.cool.sidebar {
  /* width: 315px !important; */
  margin-left: 10vw !important;
    width: 10vw !important;
  box-shadow: none;
  border-left: none !important;
  border-right: none !important;
  border: none !important;
}
/* 
.ui.active.cool.sidebar {
  margin: 0 !important;
  box-shadow: none;
}

.ui.active.right.cool.sidebar {
   box-shadow: none;
}  */

.ui.left.visible.sidebar, .ui.right.visible.sidebar {
  box-shadow: none !important;
  border-left: none;
    border: none !important;
}
