:root {
  --color-login-button: #00b5ad;
} 
 
 /* Fonts 
@headerFont        : 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
@pageFont          : 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
@fontSmoothing     : antialiased;

@importGoogleFonts : true;
@googleFontName    : 'Lato';
@googleFontSizes   : '400,700,400italic,700italic';
@googleFontFamily  : '@{googleFontName}:@{googleFontSizes}';

 /* Sizes 
@emSize      : 14px;
@fontSize    : 14px;

 /* Colors 
@blue             : #3B83C0;
@lightblue        : #00b5ad;
